.caregiver-bg {
    background-color: oklch(54.1% 0.281 293.009);
}

.caregiver-text {
    color: oklch(54.1% 0.281 293.009);
}

.patient-bg {
    background-color: oklch(62.7% 0.194 149.214);
}

.patient-text {
    color: oklch(62.7% 0.194 149.214);
}

.hidden-scrollbar::-webkit-scrollbar {
    display: none;
}

.hidden-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none;
}