.caregiver-bg {
    background-color: oklch(54.1% 0.281 293.009);
}

.caregiver-text {
    color: oklch(54.1% 0.281 293.009);
}

.patient-bg {
    background-color: oklch(62.7% 0.194 149.214);
}

.patient-text {
    color: oklch(62.7% 0.194 149.214);
}

.caregiver-button {
    background-color: oklch(54.1% 0.281 293.009);
    color: white;
    border-radius: 0.375rem;
    padding: 1rem;
    font-size: 1.25rem;
}

.caregiver-button:hover {
    background-color: oklch(40.32% 0.20461 293.376);
    color: white;
}

.caregiver-button-outline {
    border: 1px solid oklch(54.1% 0.281 293.009);
    background-color: transparent;
    color: oklch(54.1% 0.281 293.009);
    border-radius: 0.375rem;
    padding: 1rem;
    font-size: 1.25rem;
}

.caregiver-button-outline:hover {
    background-color: oklch(54.1% 0.281 293.009);
    color: white;
}

.patient-button {
    background-color: oklch(62.7% 0.194 149.214);
    color: white;
    border-radius: 0.375rem;
    padding: 1rem;
    font-size: 1.25rem;
}

.patient-button:hover {
    background-color: oklch(47.239% 0.13703 147.93);
    color: white;
}

.patient-button-outline {
    border: 1px solid oklch(62.7% 0.194 149.214);
    background-color: transparent;
    color: oklch(62.7% 0.194 149.214);
    border-radius: 0.375rem;
    padding: 1rem;
    font-size: 1.25rem;
}

.patient-button-outline:hover {
    background-color: oklch(62.7% 0.194 149.214);
    color: white;
}


.hidden-scrollbar::-webkit-scrollbar {
    display: none;
}

.hidden-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none;
}