@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss"; 

* {
    transition: 0.2s;
}

.bubble {
  position: relative;
  display: inline-block;
  padding: 2rem;
  background-color: lightblue;
}

.bubble:before {
  content: "";
  position: absolute;
  padding: 2rem 4rem;
  bottom: -4rem;
  left: -4px;
  background-color: lightblue;
  border-bottom-right-radius: 4rem 3rem;
}

.bubble:after {
  content: "";
  position: absolute;
  padding: 2rem 4rem;
  bottom: -4rem;
  left: -4rem;
  background-color: white;
  border-bottom-right-radius: 4rem 3rem;
}