@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss"; 

* {
    transition: 0.2s;
}

.bubble {
  position: relative;
  display: inline-block;
  padding: 2rem;
  background-color: lightblue;
  font-size: 1.5rem;
  vertical-align: middle;
  justify-content: center;
  margin-right: 1rem;
  width: calc(1/3 * 100%);
  height: calc(3/4 * 100%);
  border-radius: 1.5rem;
  text-align: center;
}

.bubble:before {
  content: "";
  position: absolute;
  padding: 2rem 4rem;
  bottom: -4rem;
  left: -4px;
  background-color: lightblue;
  border-bottom-right-radius: 4rem 3rem;
}

.bubble:after {
  content: "";
  position: absolute;
  padding: 2rem 4rem;
  bottom: -4rem;
  left: -4rem;
  background-color: white;
  border-bottom-right-radius: 4rem 3rem;
}